<!DOCTYPE html>
<html lang="en">

<head>
    <title>Recommendations Demo</title>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/new_demo.css">

    <!-- JavaScript Dependencies -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body>
    <!--Header-->
    <div class="res-navbar-wrapper">
        <nav class="navbar navbar-default res-navbar">
            <div class="container-fluid">
                <div class="navbar-header res-center-xs">
                    <a class="navbar-brand" href="/new_demo">
                        <img class="res-logo" alt="Resdiary Recommendations" src="../../../img/res_logo.png">
                    </a>
                </div>
                <h2 class="navbar-right res-nav-title res-hidden-xs">Recommendations Demo</p>
            </div>
            <div class="res-navbar-header-extra"></div>
        </nav>
    </div>
    <!--//Header-->
    <!--Main Content-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-left">
                <h2 class="res-underline-decor"><strong>User: <%= userId %></strong></h2>
            </div>
        </div>
        <div class="row">
            <!--Previous-->
            <div class="col-sm-6 col-xs-12">
                <h3>Recently Visited</h3>
                <div class="row" id="recentVisitList">
                    
                    <% recent.forEach(function(res) { %>
                        <div class="col-xs-12">
                            <div class="res-recent-box" data-lat="<%=res.Restaurant.Lat %>" data-lon="<%=res.Restaurant.Lon %>">
                                <h4><strong>Restaurant Name: </strong><%=res.Restaurant.Name %></h4> 
                                <p>Location: <%=res.Restaurant.Town %></p>
                                <p>Cuisine Type: <%=res.CuisineType %></p>
                                <p>Price Point: <%=res.PricePoint %></p>
                                <p>Visit Date: <%=res.BookingTime %></p>
                                <p>User Rating: <%=res.Score %></p>
                            </div>
                        </div>
                    <% }); %>
                    <!--<div class="col-xs-12">
                        <div class="res-recent-box">
                            <h4><strong>Restaurant Name</strong></h4>
                            <p>Address Here</p>
                            <p>Cuisine Type: Type</p>
                            <p>Visit Date:</p>
                            <p>Rating:</p>
                        </div>
                    </div>-->
                </div>

            </div>
            <!--//Col: Previous-->
            <!--Recommended-->
            <div class="col-sm-6 col-xs-12">
                <h3>Recommended Restaurants</h3>
                <select id="recChange" style="margin-bottom:10px" class="form-control" onchange="changeRecs(this)">
                    <% recommenders.forEach(function(rec) { %>
                        <option value="<%=rec.name%>"><%=rec.label%></option>
                    <% }); %>
                </select>

                <!-- Old -->
                <!--<select id="recChange" style="margin-bottom:10px" class="form-control" onchange="changeRecs(this)">
                    <option value="explicitals">ALS Recommendations</option>
                    <option value="cuisinetype">Content-Based Recommendations</option>
                </select>-->

                <div class="row" id="recommendedList">

                    <% recommenders.forEach(function(recommender) { %>
                        <% recommender.data.forEach(function(res) { %>
                            <div class="col-xs-12" data-rec="<%= recommender.name %>">
                                <div class="res-recent-box" data-lat="<%=res.Restaurant.Lat %>" data-lon="<%=res.Restaurant.Lon %>">
                                    <!-- <a href="/new_demo/user/<%= userId %>/<%= res.Restaurant.RestaurantId %>">  </a>-->
                                    <h4><strong>Restaurant Name: </strong><%=res.Restaurant.Name %></h4>
                                    <p>Location : <%=res.Restaurant.Town %></p>
                                    <p>Cuisine Type: <%=res.CuisineType %></p>
                                    <p>Price Point: <%=res.PricePoint %></p>
                                    <% if (recommender.name != "system") { %>
                                        <p>Recommendation score: <%=parseFloat(res.RecScore).toFixed(2)%></p>
                                    <% } %>
                                </div>
                            </div>
                        <% }); %>
                    <% }); %>

                </div>
            </div>
            <!--//Col: Recommended-->
        </div>
    </div>
    <!--//Main Content-->
</body>
<script>
    $(document).ready(function(){
        $("#recChange").trigger("change");
    })
    function changeRecs(select) {
        var val = $(select).val();
        $('div[data-rec]').hide();
        $('[data-rec="'+val+'"]').show();
    }
</script>
